.nav {
    text-transform: uppercase;
    text-align: center;
    padding: 20px;
    background-color: #eee;
}

.header {
    text-transform: uppercase;
    text-align: center;
    padding: 30px;
    background-color: #0f0;
}